# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables (keep .env.development, .env.production, .env.example in git)
.env
.env.local
.env.*.local

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Dependency directories
vendor/

# Python
__pycache__/
*.pyc

# Java
*.class
*.jar
target/

# Misc
*.swp

.next/